boto3~=1.29.6
psycopg2-binary~=2.9.9
whitenoise~=6.6.0

Django~=4.2.7
dj-database-url==2.1.0
django-storages==1.14.2
django-allauth~=0.58.2
wagtail~=5.2.0
wagtail-knowledgebase^=1.0
wagtail-blog-updated~=3.1.0

uwsgi~=2.0.23
