{% extends 'includes/fields/__base_field.html' %}
{% load krugerclubcore %}

{% block input %}
  <div class="fcm-datetime-group">
    <div class="input-group">
      <input type="text" class="form-control fcm-datetime-date" datecontainer="#{{ field.auto_id }}_date_container" value="{{ field.value|date:"Y-m-d" }}"/>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="input-group-append fas fa-calendar"></span>
        </div>
      </div>

    </div>
    <div id="{{ field.auto_id }}_date_container"></div>

    <div class="input-group">
      <select class="form-control fcm-datetime-time" name="{{ field.html_name }}">
        {% time_select_options field.value.time as time_options %}
        {% for option, selected in time_options %}
          <option value="{{ option|time:"H:i" }}" {% if selected %}SELECTED="1"{% endif %}>{{ option|time:"H:i" }}</option>
        {% endfor %}
      </select>
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="input-group-append fas fa-clock"></span>
        </div>
      </div>
    </div>
    <div id="{{ field.auto_id }}_time_container"></div>
    <input type="hidden" class="fcm-datetime-target form-control" {% block input-pattern %}{% endblock %} id="{{ field.auto_id }}" name="{{ field.html_name }}" {{ field_extra }} value="{{ field.value.date|date:"Y-m-d" }} {{ field.value.time|time:"H:i" }}"/>
  </div>
{% endblock %}
