{% extends "account/base_profile.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <h2>{% trans "Change Password" %}</h2>

  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% include 'includes/fields/_form_errors.html' %}
    {% include 'includes/fields/_text_field.html' with field=form.oldpassword field_name="Old Password" %}
    {% include 'includes/fields/_text_field.html' with field=form.password1 field_name="New Password" %}
    {% include 'includes/fields/_text_field.html' with field=form.password2 field_name="New Password (again)" %}
    <div class="text-right">
      <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
    </div>
  </form>
{% endblock %}
